/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Sawarabi Gothic", sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


.main {
 width: 80%;
 margin:auto;

}

.item,
.about,
.contact-form{
    width: 90%;
    text-align: center;
    
    margin: auto;
}

.header-list{
    padding: 40px;
    font-size: 25px;
    width: 70%;
    margin: auto;
    
}
 
 



.home img{
    width: 100%;
    height: 580px;
    position: relative;  

}

.home p{
    position: absolute;
    top:270px;       
    color: #ffffff;
    text-shadow:
    0 1px #bbb,
    1px 2px #bbb,
    2px 3px #bbb,
    3px 4px #bbb,
    4px 5px #bbb,
    5px 10px 8px #000000;
    font-size: 40px;
    
    



}

.header-list a{
    text-decoration: none;
    color: #000;

}



   
    



h1{
    font-size: 50px;
    padding-top: 30px;
    text-align: center;
}

h2{
    font-size: 30px;
}

.header-list ul{
    display: flex;
    justify-content: space-between;
}

.header-list li{
    list-style: none;
}

.item,
.about,
.contactform{
    padding: 40px;
    
    
}
.item ul{
    display: flex;
    justify-content: space-around;
}

.item img {
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.item li{
    list-style: none;
}

.item p{
    margin-top:20px ;
}




.about{
    height: 450px;
    
}

.about_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    border-top: black;
    margin:80px 0px 50px 0px;
    
    
}


.conpany-profile dt{
    padding: 20px;    
    float: left;
    clear: left;
    margin-right: 0.5em;
    width: 120px;
    border-bottom: 2px solid #cccccc;
    width: 100px;
    
    
}

.conpany-name{
    border-top: 2px solid #cccccc;
}

.conpany-profile{
 margin-top: 50px;
       
}

.conpany-profile dd{
    padding: 20px;    
    float: left;
    margin-left: 1em;
    border-bottom: 2px solid #cccccc;
    width: 250px;
}

.contact-form{
    
    height: 700px;   
   
}

.contact-item{
    margin: auto;
    margin-top: 50px;
    
    
}


.contact-item-title{     
    width: 220px;    
    
    text-align: left;
    height: 30px;
    text-align: center;
    margin: auto;
    
    
}


.contact-item-input{
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 30px;    
    
    width: 400px;
    

}

.contact-item-textarea{
    border: 1px solid #ddd;
    border-radius: 6px;
    height:230px;  
    
    
    width: 400px;
}

.button{
    margin-top: 20px;
}

